* {
  margin: 0px;
  padding: 0px;
}

/* topbar css */

.topbar {
  display: flex;
  flex-direction: row;
  justify-items: center;
  
  height: 50px;
  width: 100%;
  background: linear-gradient(to bottom, #33ccff 0%, #451071 100%);
  font-family: 'Open Sans', sans-serif;
}

.topbar-item1 {
  display: flex;
  align-items: left;
  width: 100%;
  color: rgb(253, 252, 252);
  gap: 10px;
  padding-left: 10px;

}

.topbar-item2 {
  display: flex;
  align-items: right;
  color: rgb(253, 252, 252);
  gap: 10px;
  padding-right: 10px;

}

/* navbar css */

.navbar-primary {
  background: white;
  display: flex;
  box-shadow: 0px 2px 2px 0px rgba(156, 156, 156, 0.75);

}

.nav-logo {
  height: 100%;
  width: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 25%;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-menu a {
  text-decoration: none;
  color: #252525;


}

.nav-apply-button {
  background-color: #3fcff0;
  padding: 9px;
  border: none;
  color: white;

}

.nav-apply-button:hover {
  background-color: black;
  transition: all ease .5s;
}

.menuitems {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
  font-family: Georgia, Times, serif;
  font-size: 20px;

}

.nav-apply-button {
  display: flex;
  align-items: right;
}

.nav-menu a:hover {
  color: #AD070E;
}

.nav-menu a>.active {
  background: red;
}

.login-container {
  display: flex;
}

.logininputfield,
.loginbutton {
  padding: 8px 20px;
  border-radius: 5px;
  border: none;

}

.title,
.description {
  font-family: "Helvetica Neue", Helvetica, Arial;
  padding: 25px;
  font-size: 20px;
}

.footer {
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
  background-color: #491159;
  color: white;
  text-align: center;
  padding: 10px 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  border: 3px solid #f1f1f1;
}

.input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button1 {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button1:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.avatar {
  width: 10%;
  border-radius: 5%;
}

.container {
  padding: 5px;
}

/* .span.psw {
  float: right;
  padding-top: 16px;
} */


/* @media screen and (max-width: 30px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
} */


.footer-icons {
  background: white;
  padding: 5px;
  color: #026887;
}

.breadcrumb {
  width: 100%;
  height: 200px;
  text-align: left;
  background-color: rgb(102, 172, 252);
  font-size: 25px;
  padding: 15px;
  color: white;
  padding-left: 50px;

}

.widget5 {
  background-color: #024f87;
  color: white;
  margin-left: auto;
  height: 400px;
  width: 50%;
  text-align: left;
  align-items: center;
  padding-top: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}


.section-title {
  text-align: center;
  line-height: 70px;
  font-size: 25px;

}